<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>

<body>
    <main>
        <form method="post" action="/login">
            <h1>Login Page</h1>
            <input type="email" name="email" id="" placeholder="Email">
            <input type="password" name="pass" placeholder="Password">
            <button type="submit">Login</button>
            <%= locals.message %>
        </form>
    </main>
</body>

</html>