<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Logout</title>
</head>

<body>

    <main>
        your name is
        <h1>
            <%=locals.n%>
        </h1>
        your email is
        <h1>
            <%=locals.e%>
        </h1>

        <form action="/logout" method="get" style="height: 70%;">
            <h1 style="color:rgb(189, 7, 68);">Home Page</h1>
            <button type="submit">Logout</button>
        </form>
    </main>
</body>

</html>